* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(200deg, rgba(0, 0, 0, 0.00) 16.41%, rgba(0, 0, 0, 0.51) 77.16%), url(./imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    /*  padding-top: 50px; */
    width: 80%;
    border-bottom: 1px solid #cecdcd;
    height: 91px;
    position: relative;
    margin-left: 120px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    list-style: none;
    padding-top: 50px;
    padding-bottom: 28px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'DM sans', san-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.6336px;
    position: relative;
}

a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -230%;
    height: 3px;
    width: 0;
    background-color: #fff
}

a:hover::after,
.active::after {
    content: " ";
    position: absolute;
    left: -5px;
    bottom: -230%;
    height: 3px;
    width: 91px;
    background-color: #fff;
    transition: 0.2s ease-in
}

.active::after,
.active:hover::after {
    left: -20px;
}

.ham {
    display: none;
}

header img {
    position: absolute;
    height: 50px;
    width: 147px;
    flex-shrink: 0;
    left: 0;
    top: 19px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 91px);
    padding: 0% 10%;
    gap: 60px;
}

.hero-1 {
    width: 584px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.hero-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.hero-2 img {
    border-radius: 15px;
    height: 60%;
    width: 100%;
}

.search {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    width: 100%;
    height: 88px;
    padding: 15px 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search form select {
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    width: 40%;
    height: 58px;
    padding: 15px 26px 15px 8px;

}

.search button {
    width: 20%;
    height: 58px;
    padding: 15px 19.422px 15px 19.578px;
    background: var(--primary-color, #23A6F0);
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;

}

.about {
    height: 100vh;
    width: 100%;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 60px 90px 10%;
}

.about h3 {
    color: #18191F;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.about h3 span {
    text-decoration: underline;
    text-decoration-color: #f4511e;
    text-underline-offset: 10px;
}

.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

#pool {
    border-radius: 50px 0px;
    height: 100%;
    width: 40%;
}

.pts {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.points {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.point1 h3 {
    color: #18191F;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
    width: 230px;
}

.point1 img {
    background: #FFF;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    box-shadow: 0px 12px 19px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 21px;
}

.props {
    width: 100%;
    height: auto;
    padding: 60px 150px 80px;
    background: #F5F5F5;
}

.top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.props h3 {
    color: #18191F;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    text-transform: capitalize;
}

.props h3 span {
    text-decoration: underline;
    text-decoration-color: #f4511e;
    text-underline-offset: 10px;
}

.props button {
    color: #FFF;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    font-weight: 500;
    background: #F4511E;
    border-radius: 5px;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(248, 90, 71, 0.02), 0px 8.14815px 6.51852px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04);
    width: 200px;
    height: 65px;
    outline: none;
    border: none;
}

.list {
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.lists {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 81px;
    flex-wrap: wrap;
}


.card {
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 26.617px;
    background: #FFF;
    box-shadow: 0px 34.06929px 36.19862px 0px rgba(0, 0, 0, 0.13);
}

.card-pic {
    height: 40%;
    width: 100%;
}

.card-pic img {
    width: 100%;
    height: 100%;
    border-radius: 26.617px 26.617px 0px 0px;
}

.card-dn {
    padding: 17px 46px 18px 27px;
    height: 40%;
}

.card-dn h2,
.card-dn h3,
.card-dn h4 {
    color: #000;
    font-family: 'DM Sans';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.642px;
    text-transform: capitalize;
    width: 285px;
}

.card-dn h3 {
    color: #818181;
    font-size: 18px;
    font-weight: 400;
    padding-top: 19px;
}

.card-dn h4 {
    color: #F4511E;
    font-size: 25.552px;
}

.card-ft {
    width: 100%;
    height: 63px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E4E4E4;
}

.ft1,
.ft2,
.ft3 {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px
}

.ft2 {
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}

.ft1 svg,
.ft2 svg,
.ft3 svg {
    width: 14.905px;
    height: 11.348px;
    flex-shrink: 0;
}

.ft1 h4,
.ft2 h4,
.ft3 h4 {
    color: #000;
    font-family: 'DM Sans';
    font-size: 18.099px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.455px;
}

.pages-next {
    padding: 10px;
    text-align: center;
    list-style: none;
}

.pages-next li {
    background: #FFF;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    color: #F4511E;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    border: 1.346px solid #BDBDBD;
}

.pages-next .active {
    background: #F4511E;
    color: #fff;
}


.strech-page {
    width: 100%;
    height: auto;
    background: #FFF;
    padding: 110px 155px;
}

.description {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
}

.pics-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pics-left .tops,
.pics-left .bots {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.pics-left .tops .img1 {
    width: 45%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;

}

.tops .img1 img,
.tops .img2 img,
.bots .img1 img,
.bots .img2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.20);
}


.tops .img1 h2,
.bots .img1 h2 {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 10%;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.pics-left .tops .img2 {
    width: 55%;
    height: 80%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
}

.tops .img2 h2,
.bots .img2 h2 {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 5%;
}

.pics-left .bots {
    align-items: flex-start;
}

.pics-left .bots .img1 {
    width: 40%;
    height: 80%;
    position: relative;
    z-index: 0;

}

.pics-left .bots .img2 {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.desc {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 35px;
}

.desc h3 {
    color: #18191F;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    padding-bottom: 16px;
}

.desc p {
    color: #18191F;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.desc .btn {
    margin-top: 40px;
    display: flex;
    width: 185px;
    height: 63px;
    padding: 22px 28px 21px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background: #F4511E;
}

.desc .btn a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.add-props {
    width: 100%;
    height: auto;
}

.add-props h2 {
    color: #000;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 37px;
}

.add-props form {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    padding: 45px 63px 51px;
    background: #FFF;
    box-shadow: 0px 4px 63px 0px rgba(0, 0, 0, 0.15);
}

.add-props form .f-header {
    width: 100%;
    margin: 0;
    color: #F4511E;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    border: none;
}

.text,
.selection,
.mixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.text label,
.text label span,
.selection label,
.selection label span,
.mixed label,
.mixed label span,
#tarea,
#tarea span {
    color: #252B42;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.text label span,
.selection label span,
.mixed label span,
#tarea span {
    color: #F4511E;
}

.text div,
.selection div,
.mixed div {
    width: 30%;
}

.text input,
.selection select,
.mixed input,
.mixed select {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    height: 50px;
    width: 100%;
    padding: 11px 0px 11px 21px;
}

.text input::placeholder,
#room,
#state,
#city,
.mixed input::placeholder {
    color: #737373;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.mixed {
    justify-content: flex-start;
    gap: 45px
}

textarea {
    width: 100%;
    height: 151px;
    resize: none;
    padding: 13px 21px 13px 21px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    margin-bottom: 25px;
}

textarea::placeholder {
    color: var(--second-text-color, #737373);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 200% */
    letter-spacing: 0.2px;
}

.droparea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 1px dashed #F4511E;
    background: rgba(244, 81, 30, 0.01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

.droparea h2 {
    padding: 0;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#drag {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#drag input::-webkit-file-upload-button {
    margin-left: 5px;
    border: none;
    outline: none;
    color: #F4511E;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background: transparent;
}


.bn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bn a {
    border-radius: 9.08px;
    background: #F4511E;
    text-decoration: none;
    width: 50%;
    height: 69px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 21.791px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.423px;
    letter-spacing: 0.182px;
}

.owner {
    width: 100%;
    margin-bottom: 110px;
    padding: 0;
    height: 60vh;
    background: rgba(244, 81, 30, 0.07);
    display: flex;
}

.owner-left {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 0 78px 0;
    position: relative;
    z-index: 5;
}

.quote {
    position: absolute;
    z-index: 6;
    top: 20%;
    left: 10%
}

.owner-left p {
    width: 500px;
    color: #18191F;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.owner-left .profile {
    width: 500px;
    margin-top: 26px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-self: center
}

.profile h2 {
    color: #F4511E;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.owner-right {
    width: 45%;
    height: 100%;
    background: url(./imgs/cover.jpg), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 73.6px;
    background: #F4511E;
    width: 92px;
    height: 92px;
    padding: 34px 36px;
    cursor: pointer;
}

.play svg {
    width: 19px;
    height: 23px;
}

footer {
    width: 100%;
    height: 70vh;
    display: flex;
    padding: 100px 91px;
}

.foot {
    width: 100%;
    height: 100%;
    border-top: 2px solid #F4511E;
}

.foot-top {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-top .ft-1 {
    width: 50%;
    height: 100%;
    padding-left: 134px;

    display: flex;
    align-items: center;
}

.foot-top .ft-1 h2 {
    color: #000;
    font-family: 'Inter';
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-transform: capitalize;
}

.foot-top .ft-2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ft-2 .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 22px;
}

#nums {
    display: flex;
    gap: 120px;
}

.ft-2 h3 {
    color: #0A142F;
    font-family: 'Assistant', 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline;
    padding-left: 5px;
}

.socials {
    display: flex;
    gap: 24px;
    padding-top: 22px;
}

#line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#line img {
    width: 90%;
    height: 2px;
    opacity: 0.2;
    background: #7BB9FC;
}

.foot-bot {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.bot-main {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.bot-left h4,
.bor-right h4 {
    color: #0A142F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (max-width:576px) {
    .container header {
        margin: 0;
        width: 100%;
        justify-content: flex-end;
        padding-right: 40px;
    }


    .ham {
        display: block;
        background: transparent;
        border: none;
        outline: none;
    }

    .ham svg {
        transform: scale(0.7);
    }

    .ham svg path {
        fill: #FFFFFF
    }

    nav {
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 91px;
        background-color: color-mix(in srgb, #2f3439, transparent 30%);
        width: 100%;
        height: auto;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
        padding: 20px 0px;
    }

    nav.active {
        left: 0;
        transition: 2s
    }

    main {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 10%;
    }

    .hero-1 {
        width: 100%;
        font-size: 28px;
    }

    .hero-1 h2 {
        text-align: center;
    }

    .hero-2 {
        width: 100%;
    }

    .search form select {
        padding-right: 0;
    }

    .about {
        padding-right: 10%;
        height: auto;
    }

    .about h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .about-main {
        flex-direction: column;
    }

    #pool {
        width: 100%;
        height: 40%;
    }

    .pts {
        width: 100%;
        padding-top: 20px;
    }

    .points {
        gap: 20px;

    }

    .point1 h3 {
        font-size: 14px;
        width: 110px
    }

    .point1 img {
        width: 45px;
        height: 45px;
    }

    .props {
        padding: 50px 50px 60px;
    }

    .props h3 {
        font-size: 18px;
    }

    .props button {
        width: auto;
        font-size: 14px;
        padding: 10px;
    }

    .list-top {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 350px;
    }

    .card-dn h2,
    .card-dn h4 {
        font-size: 18px;
        width: 100%;
    }

    .card-dn h3 {
        font-size: 16px;
    }

    .pg {
        width: 80%;
    }

    .strech-page {
        padding: 50px 50px;
    }

    .description {
        flex-direction: column;
        height: auto;
    }

    .pics-left {
        width: 100%;
        height: 40%;
    }

    .desc {
        width: 100%;
        align-items: center;
    }

    .desc h3,
    .desc p {
        text-align: center;
        font-size: 32px;
    }

    .desc p {
        font-size: 15px;
    }

    .add-props h2 {
        font-size: 18px;
    }

    .add-props form {
        padding: 35px 20px;
    }

    .f-header {
        padding: 0;
    }

    .f-header h3 {
        font-size: 18px;
        width: 100%;
    }

    .text,
    .selection {
        flex-direction: column;
        align-items: flex-start;
    }

    .text div,
    .selection div,
    .mixed div {
        width: 100%;
    }

    .mixed {
        gap: 20px
    }

    textarea {
        height: 100px;
    }

    .droparea {
        margin-bottom: 35px;
    }

    #drag {
        font-size: 8px;
        width: 100%
    }

    #drag input {
        font-size: 8px;
        width: 40%;
    }

    #drag input::-webkit-file-upload-button {
        font-size: 10px;
    }

    .droparea h2 {
        font-size: 10px;
    }

    .bn a {
        font-size: smaller;
        height: 50px;
    }

    .owner {
        flex-direction: column-reverse;
        margin: 0;
        height: auto;
    }

    .owner-left {
        width: 100%;
        padding: 50px 0px 40px 0px;
        height: 50%;
    }

    .owner-left p {
        font-size: 12px;
        width: 300px;
        text-align: justify;
    }

    .quote {
        top: 10%;
        left: 5%;
    }

    .quote svg {
        width: 50px;
        height: 50px;
    }

    .owner-left .profile {
        padding-left: 10%;
        width: 100%;
    }

    .owner-right {
        width: 100%;
        height: 40vh;
    }

    footer {
        padding: 60px;
        height: auto;
    }

    .foot-top {
        flex-direction: column;
        gap: 20px;
    }

    .foot-top .ft-1 {
        padding: 0;
        width: 100%;
        height: 20%;
        justify-content: center;
        padding-top: 40px;
    }

    .foot-top .ft-2 {
        width: 100%;
        height: 80%;
        justify-content: center;
    }

    .ft-2 .info {
        align-items: center;
        width: 100%;
    }

    .ft-2 .info div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #nums {
        gap: 40px;
    }

    .socials {
        flex-wrap: wrap;
    }

    .foot-bot {
        height: 150px;
    }

    .bot-main {
        flex-direction: column;
        padding-top: 30px;
        width: 100%;
    }

    .bot-left {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 10px;
    }

    .bot-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bot-right h4 {
        text-align: center;
    }

    #line {
        margin: 40px 0 20px 0;
    }
}